[Desktop Entry]
Name=Vrame 2.0.1
Icon=preferences-desktop-wallpaper
Type=Service

X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Werner Lechner
X-KDE-PluginInfo-Email=werner.lechner.2@gmail.com
X-KDE-PluginInfo-Name=at.lehklu.plasmoid.vrame2
X-KDE-PluginInfo-Version=2.0.1
X-KDE-PluginInfo-Website=http://www.lehklu.at/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPLv2+

X-Plasma-MainScript=ui/main.qml

Comment=Slideshow for Virtual Desktops
X-Plasma-StandAloneApp=true
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=declarativeappletscript
X-Plasma-Requires-FileDialog=True
X-Plasma-Requires-LaunchApp=Unused