[Desktop Entry]
Name=Vallpaper 1.1.0
Icon=preferences-desktop-wallpaper
Type=Service

X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=Werner Lechner
X-KDE-PluginInfo-Email=werner.lechner.2@gmail.com
X-KDE-PluginInfo-Name=at.lehklu.plasmoid.vallpaper
X-KDE-PluginInfo-Version=1.1.0
X-KDE-PluginInfo-Website=http://www.lehklu.at/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPLv2+

X-Plasma-MainScript=ui/main.qml

Encoding=UTF-8
Keywords=different wallpaper per desktop
X-KDE-ParentApp=